body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #4F6F52;
}

header {
    background-color: #739072;
    /* Dark header background */
    color: #D2E3C8;
    /* Light header text color */
    text-align: center;
    padding: 10px;
}

section {
    margin: 20px;
    background-color: #86A789;
    /* Dark section background */
    color: black;
    /* Light text color */
    padding: 15px;
    border-radius: 10px;
}

h2 {
    color: white;
    /* Dark header text color */
}

h3 {
    color: #D2E3C8;
    /* Dark header text color */
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Add more styling as needed */